# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea/
spring-cloud-client-config/target
spring-cloud-common/target
spring-cloud-config-server/target
spring-cloud-eureka-server/target
spring-cloud-sleuth/target
spring-cloud-test/target
spring-cloud-test1/target
.idea
*.iml
out
gen
